*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--Light-gray);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
background-color: var(--White);
padding: 1rem;
margin-bottom:1.25rem;
border-radius: 1rem;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
width: 300px;
height: 450px;
} 

.container h1 {
    text-align: center;
    color: var(--Dark-blue);
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
}

.container p {
    text-align: center;
    color: var(--Grayish-blue);
} 

@media ( max-width: 375px ){
    body{
        height: fit-content;
    }
    .container {
        margin-top: 20px;
    }
}
@media ( max-width: 600px ){
    body{
        height: fit-content;
    }
    .container {
        margin-top: 20px;
    }
}
@media ( max-width: 768px ){
    body{
        height: fit-content;
    }
    .container {
        margin-top: 20px;
    }
}
@media ( max-width: 992px ){
    body{
        height: fit-content;
    }
    .container {
        margin-top: 20px;
    }
}